.Features {
    width: 100%;
    padding: 100px 0;
    background-color: var(--HEADER--H1--COLOR);

}

.title-text, .footer-text {
    text-align: center;
    padding-bottom: 60px;
}

.title-text .text {
    margin: auto;
    font-size: 20px;
    color: var(--GENERAL--COLOR);
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text .text::after {
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(#1D63FF, whitesmoke);
    position: absolute;
    z-index: -1;
    top: -20px;
    left: 0;
    transform: rotate(10deg);
    border-radius: 100%;
}
.title-text h2 {
    font-size: 50px;
}



.feauture-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.feauture__title {
    flex-basis: 50%;
}

.feauture__img {
    flex-basis: 50%;
    margin: auto;
}

.feauture__img img {
   width: 80%;
    border-radius: 20px;
}

.feauture__title h2 {
    color: var(--GENERAL--COLOR);
    text-align: left;
    margin-bottom: 10px;
    font-weight: 200;

}

.features__description {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

}
.features__icon .bx {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: var(--GENERAL--COLOR);
    border: 1px solid var(--GENERAL--COLOR);
}

.features__text p {
    padding: 0 20px;
    text-align: initial;
}

@media (max-width: 780px) { 
    /* FEATURES */
    .feauture__title {
         flex-basis: 100%;
}

.title-text h2 {
    font-size: 30px;
}


.feauture__img img {
    width: 100%;
}
.feauture__img {
    flex-basis: 100%;
}
}