  /* HERO */
.hero {
    height: 100dvh;
    width: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.055)), url(/1505.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 50px 8% 0;
    gap: 20px;
}



.header__text {
    text-align: center;
    max-width: 700px;
    color: whitesmoke;
    transform: translateX(-1000px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header__text h2 {
   font-size: 4rem;
    white-space: wrap;
    color: white;
   animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #00a2ff, 0 0 10px #0077ff;
    }
    to {
        text-shadow: 0 0 10px #00a2ff, 0 0 20px #0077ff, 0 0 30px #0055ff
    }
}
.header__text p {
    font-size: em;
}
.header__text a {
    padding: 10px 40px;
    border: 1px solid;
    color: whitesmoke;
    text-decoration: none;
    line-height: 5;
    font-weight: 400;
    transition: .5s;
    font-size: small;
}
.header__text a:hover,
.header__text a:active {
    background-color: #1D63FF;
    color: whitesmoke;
    font-weight: 400;
}


@media (max-width: 768px) {
    .hero {
    text-align: center;
    background: linear-gradient(45deg, rgba(17, 17, 17, 0.87), rgba(0, 0, 0, 0.055)), url(img/Taiwo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    z-index: 1;

}
}