  .header {
    
    background-color: whitesmoke;
    box-shadow: 1px -1px 3px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 10px  70px;
    z-index: 2;
   
  
  }
  

   

  .header__logo {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .header__logo  img{
    width: 5%;
    background-color: var(--GENERAL--COLOR);
  }
  .header__logo h2 a{
    color: var(--GENERAL--COLOR);
    text-decoration: none;
  }
  
  nav {
    transition: all 0.3s ease-in-out;
  }
  .header_ul {
    display: flex;
    gap: 50px;
    list-style: none;
  
  }
  
  .header_ul li a {
    color: var(--GENERAL--COLOR);
    text-decoration: none;
    
  }

  .header_ul li a:hover,
  .header_ul li a:active {
    color: #133e9b;
  }
  
  .hamburger {
    display: none;
  }
  
  .hum {
    height: 3px;
    width: 30px;
    background-color: var(--GENERAL--COLOR);
    margin: 5px 0;
    border-radius: 10px;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .nav--open {
    transform: translate(0) !important;
  }
  
  .hamburger--open .hum:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
    
  }
  .hamburger--open .hum:nth-child(2) {
    opacity: 0;
  
  }
  .hamburger--open .hum:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
    
  }



  @media (max-width: 768px) { 
     .nav__link {
            position: relative;
        }

        .nav__link::after {
            content: '';
            width: 0%;
            height: 3px;
            background-color: var(--GENERAL--COLOR);
            position: absolute;
            left: 0;
            bottom: -.5rem;
            transition: width .3s;
        }

            .header_ul li a:hover::after {
                width: 90%;
            }

        .header__text {
            max-width: 100%;
        }
        .header__text .t-autos {
            white-space: nowrap;
        }
       
        .header__text h2{
            font-size: 4rem;
        }
      
      .header__logo img {
        width: 10%;
       

      }

      
      nav {
        position: fixed;
        left: 0;
        top: 50px;
        background-color: whitesmoke;
        width: 100%;
        padding: 8px 0 25px;
        transform: translateX(-100%);
       
      }
        .header_ul {
        
          flex-direction: column;
          align-items: center;
          row-gap: 20px; 
        } 

      
        .header_ul li a {
          font-size: 16px;
          color: var(--GENERAL--COLOR);
          text-shadow: none;
        }

      .hamburger {
        display: inline;
      }
      

  }
  