.services {
    width: 100%;
    padding: 100px 0;
    background-color: var(--WEBBGCOLOR1);
}



.service__box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px auto;
}

.single__service {
    flex-basis: 48%;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}

.single__service img {
    width: 100%;
    border-radius: 20px;
}


.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 20px;
    cursor: pointer;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.767), var(--HERO--GRCOLOR1));
    opacity: 1;
    transition: 1s;
}



.service__desc {
    width: 80%;
    position: absolute;
    bottom: 35%;
    left: 50%;
    opacity: 1;
    transition: 1s;
    transform: translateX(-50%);
}


hr {
    background-color: whitesmoke;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}


.service__desc .service__p {
    font-size: 14px;
}



.specialized {
    text-align: center;
    font-size: 1rem;
}
.car__logos {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.car__logos img {
    width: 5%;
}

@media (max-width: 768px) {
    /* SERVICE */
.single__service {
    flex-basis: 100%;
    margin-bottom: 30px ;
}

.service__desc .service__p {
    font-size: 12px;
}
hr {
    margin: 5px auto;
}
.service__desc {
    bottom: 25%; 

    
}
}