.testimonial {
    width: 100%;
    padding: 100px 0;
    background-color: var(--WEBBGCOLOR2);


}

.testimonial__row {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: flex-start;
    width: 80%;
    flex-wrap: wrap;
    
}
.testimonial__column {
   flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px rgb(217, 216, 216);
    cursor: pointer;
    transition: .5s;
}
.testimonial__column p {
    font-size: 12px;
}
.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img {
    width: 30px;
    margin-right: 20px;
    border-radius: 5px;
}



.testimonial__column:hover {
    transform: translateY(-7px);
}


/* MESSAGE CONTAINER */
#message_container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    line-height: 3;
    gap: 20px;
    margin-top: 30px;
    
}
.form h2 {
    color: var(--GENERAL--COLOR);
    font-size: 2rem;
    line-height: 1;
   
}

.form hr {
    background-color: var(--GENERAL--COLOR);
    border-radius: 10px;
}
.form .input {
    outline: none;
    border: none;
    height: 40px;
    border-radius: 20px;
    padding-left: 15px;
    color: black;
    font-family: "Poppins", sans-serif;
    background-color: rgba(255, 68, 0, 0.082);
}
.form .input:hover,
.form .input:focus {
    border: 1px solid var(--GENERAL--COLOR);
}
.form .area {
    padding-top: 15px;
    height: 100px;
    width: 100%;
    

}

.form .button {
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 15px 0;
    font-size: 1rem;
    color: white;
    background-color: var(--GENERAL--COLOR);
    cursor: pointer;
}
