@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

img {
    display: block;
}
html {
    scroll-behavior: smooth;
}

/* || VARIABLES */

:root {
    /* COLOR */
    --HEADER--BGCOLOR: #1D63FF;
    --HEADER--H1--COLOR: whitesmoke;
    --LINK--HOVER: rgb(203, 191, 255);
    --LINK--COLOR: rgb(0, 0, 0);
    --HERO--GRCOLOR1: rgba(111, 0, 255, 0.322);
    --HERO--GRCOLOR2: rgba(86, 86, 253, 0.507);
    --FF--COLOR: whitesmoke;
    --VISIT--COLOR: #333;
    --VISIT--HOVER--COLOR: rgb(12, 12, 230);
    --ABOUT--COLOR: #1D63FF;
    --WEBBGCOLOR1: rgb(200, 200, 255);
    --WEBBGCOLOR2: rgb(234, 234, 255);
    --GENERAL--COLOR: #1D63FF;
    --FOOTER--COLOR: rgb(199, 199, 199);

}